.icon {
	&--search {
		width: 18px;
		height: 18px;
	}
	&--whatsapp{
		width: 16px;
		height: 16px;
	}
	&--tg{
		width: 16px;
		height: 14px;
	}
	&--phone{
		width: 16px;
		height: 18px;
	}
}
