:root {
	--font: "Open Sans", sans-serif;
	--text-color: #1f1f1f;
	--text-subColor: #4c4c4c;
	--accent-color1: #f95707;
	--accent-color2: #105720;
	--accent-backgroundColor: #f3f7f4;
	--border-color: #e8e8e8;
}

$maxWidthContainer: 1326;
$containerPadding: 30;
